.building {
    display: flex;
}
.buildingHolder {
    margin-top: 200px;
}

.elevator {
    text-align: center;
    position: relative;
    border: 1px solid red;
    width: 75px;
    box-sizing: border-box;
    overflow-y: auto;
}

.elevator::-webkit-scrollbar {
    width: 0;
}

.elevatorInside {
    display: block;
}

.elevatorShaft {
    display: flex;
    box-sizing: border-box;
}

.floors {


}

.floors input {
    min-width: 150px;
}

.floorHolder {

}

.floorInputHolder {
    min-height: 20px;
}