.building {
    margin-top: 200px;
    display: flex;
}

.elevator {
    display: flex;
    border: 1px solid blue;
    margin: 0 auto;
}

.floors {


}

.floors input {
    min-width: 150px;
}

.floorHolder {
    margin-left: 5px;
    border-left: 1px solid blue;
}