.building {
    display: flex;
    border: 1px solid blue;
}
.buildingHolder {
    margin-top: 200px;
    display: flex;
    justify-content: center;

}

.elevator {
    text-align: center;
    position: relative;
    border: 1px solid red;
    transition: top 1s;
    width: 50px;
    box-sizing: border-box;
}

.elevatorShaft {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
}

.floors {


}

.floors input {
    min-width: 150px;
}

.floorHolder {

}

.floorInputHolder {
    min-height: 20px;
}